:root {
    --primary-text-color: rgb(244, 244, 244);
    --secondary-text-color: rgba(244, 244, 244, 0.5);
    --error-color: rgb(204, 49, 46);
    --border-color: var(--primary-text-color);
    --background-color: #BDBDBD;

    --svg-text-off-color: #302E38;
    --svg-text-on-color: #F4F4F6;
    --svg-background-color: #141216;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    background-image: url("background.jpg");
    background-size: cover;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;        
}

div {
    display: block;
}

input[type=text] {
    width: 120%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px;
    color: var(--primary-text-color);
    outline: none;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.3s;
}

input[type=text]:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

input[type=text]:invalid {
    border-color: var(--error-color);
}

::placeholder {
    color: var(--secondary-text-color);
}

select {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px;
    color: var(--primary-text-color);
    outline: none;
    font-family: 'Roboto', sans-serif;
}

/* For Firefox, to make options readable */
option {
    color:rgba(0, 0, 0, 0.5);
}

.invisible.error-message {
    color: transparent
}

.error-message {
    font-size: smaller;
    color: var(--primary-text-color);
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 10rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    transition-duration: 0.3s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Transparent borders to imitate the layout of button without its fuctionality */
.pseudo-button {
    width: min-content;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: var(--primary-text-color);
    outline: none;
    font-family: 'Roboto', sans-serif;
    /* selects by default have 1px larger padding than buttons,
       this is to align with them */
    padding: 5px;
}

.pseudo-button-container {
    position: absolute;
    left: calc(50% + 3.5rem);
    color: var(--primary-text-color)
}

#controls {
    flex-basis: 15%;
    justify-content: space-between;
    padding-bottom: 1rem;
}

#clocks-container {
    justify-content: space-between;
    padding-top: 1rem;
}

/* SVG */

svg > rect {
    fill: var(--svg-background-color)
}

svg > text {
    font-family: 'Major Mono Display', monospace;
    /* vscode disagrees, but it is a valid property for svg */
    dominant-baseline: middle;
    text-anchor: middle;
    fill: var(--svg-text-off-color);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

svg > text.symbol {
    font-family: 'Roboto', sans-serif;
    dominant-baseline: auto;
}

.lightOn {
    fill: var(--svg-text-on-color);
    filter: url(#lightOn);
}